/* CSS RESET: use box-sizing model; remove default margin & form typography
styles; set buttons to display block; set base (pre UA stylesheet) font size; */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
input, button, textarea, select { font: inherit; }
button { display: block; cursor: pointer; }
:root{ font-size: 16px; }  /*chrome default*/
/* imported google fonts examples */
/* .roboto { font-family: "Roboto"; font-weight: 400,500; font-style: normal; } */
/* variables---------------------------------------------------------------- */
:root{
  --grey1: hsl(214 27% 82%);
  --grey2: hsl(214 0% 70%);

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --transparent: hsl(0, 0%, 0%, 0); /*for gradients*/
  
  /* modded tailwind sky palette */
  --bg950: hsl(204, 80%, 8%);
  --bg900: hsl(204, 80%, 15%);
  --bg800: hsl(202, 90%, 23%);
  --bg700: hsl(201, 90%, 33%);
  --bg600: hsl(201, 98%, 40%);
  --mg500: hsl(200, 98%, 52%);
  --fg400: hsl(200, 98%, 66%);
  --fg300: hsl(199, 98%, 74%);
  --fg200: hsl(199, 98%, 82%);
  --fg100: hsl(199, 96%, 88%);
  --fg50: hsl(204, 94%, 96%); /* or use white var */

  /*boat,hit,miss colors*/
  --patrolBoatColor:hsl(181, 100%, 34%); 
  --destroyerColor: hsl(181, 100%, 28%);
  --submarineColor: hsl(181, 100%, 22%);
  --battleshipColor:hsl(181, 100%, 17%);
  --carrierColor:   hsl(181, 100%, 13%);
  --hitColor: hsl(0, 85%, 44%);
  --missColor: hsl(38, 90%, 67%);
  --boatShadow: 0 0 0.3rem 0rem var(--bg950) inset;
}

/* main CSS */
body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width: 56.25rem;
  margin: 0 auto;
  background-color: var(--bg800);
  color: var(--white);
  /*below hides long vertical ship overlay going past screen, but causes scroll issue*/
  /* overflow-y: hidden; */

  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.25rem;
    background-color: var(--bg900);
    text-shadow: 0 0 0.7rem var(--black);
    padding: 0.2rem 0 0.1rem 0;
    border-radius: 0.5rem;
  }

  span {
    color: var(--bg950);
  }

}

#passDeviceDiv {
  display: none;
  background-color: var(--fg200);
  padding: 1rem;

  #continueBtn {
    color: var(--white);
    font-size: 1rem;
    background-color: var(--bg600);
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    border: 3px outset var(--bg700);
    border-radius: 1.5rem;
    box-shadow: 0 0 2px 1px var(--bg900);
  }
}

#boardsAndLabelsDiv {
  margin: 0.25rem auto;
  background-color: var(--fg200);
  display: flex;
  flex-wrap: wrap;

  span {
    flex-basis: 50%;
    text-align: center;
    text-shadow: 0 0 1px var(--bg600);
    margin-top: 0.2rem;
  }

  .hideMe {
    display: none;
  }

  #playerBoardsWrap {
    flex-basis: 100%;
    display: flex;
    gap: 0.4rem;
    margin: 0.15rem 0.3rem;

    .receivingBoardDiv,
    .attackingBoardDiv {
      display: grid;
      grid-template: repeat(10, 1fr) / repeat(10, 1fr);
      width: 50%;
      border: 2px solid var(--mg500);
      box-shadow: 0 0 3px 0px var(--black);
      background: repeating-linear-gradient(
        to bottom,
        #0ba4d2 0%, 
        #17b1e4 6.25%,
        #55c3e5 12.5%,
        #17b1e4 18.5%,
        #0ba4d2 25%
      );
    }
    .receivingBoardDiv {
      [data-cell-data="Patrol Boat"] {
        background-color: var(--patrolBoatColor);
        box-shadow: var(--boatShadow);
      }
      [data-cell-data="Destroyer"] {
        background-color: var(--destroyerColor);
        box-shadow: var(--boatShadow);
      }
      [data-cell-data="Submarine"] {
        background-color: var(--submarineColor);
        box-shadow: var(--boatShadow);
      }
      [data-cell-data="Battleship"] {
        background-color: var(--battleshipColor);
        box-shadow: var(--boatShadow);
      }
      [data-cell-data="Carrier"] {
        background-color: var(--carrierColor);
        box-shadow: var(--boatShadow);
      }
    }
    
    [data-cell-data="hit"] {
      background-color: var(--hitColor);
    }
    [data-cell-data="miss"] {
      background-color: var(--missColor);
    }

    .cellDiv {
      border: 0.5px solid var(--black);
      aspect-ratio: 1/1; /*match "auto" width or height to aspect ratio*/
    }
  }
}

.shipOverlayDiv {
  background-color: var(--bg950);
  opacity: 0.7;
  display: block;
  position: absolute;
  pointer-events: none; /* pass through click events */
}

#msgDiv {
  font-size: 1.2rem;
  text-shadow: 0 0 0.7rem var(--black);
  margin: 0.5rem auto 0.25rem;
  text-align: center;
}

.setupControlsWrap {
  display: flex;
  justify-content: center;
  max-width: 35rem;
  margin: 0 auto;
  gap: 0.25rem;

  .btnsWrap {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: var(--fg50);
    gap: 0.25rem;
    padding: 0.25rem 0 0.25rem;
    border-radius: 0.5rem;

    span {
      text-shadow: 0 0 1px var(--fg400);
      flex-basis: 60%;
      font-size: 1rem;
    }

    button {
      flex-basis: 48%;
      background-color: var(--bg600);
      color: var(--white);
      border: 3px outset var(--bg700);
      border-radius: 1.5rem;
      box-shadow: 0 0 2px 1px var(--bg900);
    }
    button:hover {
      background-color: var(--fg200);
    }
    button[disabled] {
      background-color: var(--grey2);
      cursor: default;
      border-color: var(--grey2);
    }
  }
}
